In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Geospatial_Coordinates.csv')

In [3]:
df.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [5]:
df1 = pd.read_excel('toronto.csv')

In [6]:
df1.head()

  Postcode      Borough   Neighbourhood
0      M1B  Scarborough           Rouge
1      M1B  Scarborough         Malvern
2      M1C  Scarborough  Highland Creek
3      M1C  Scarborough      Rouge Hill
4      M1C  Scarborough      Port Union

In [8]:
merged = df.merge(df1, on='Postcode')
merged.to_csv("t_ouput.csv", index=False)

In [9]:
df2 = pd.read_csv('t_ouput.csv')

In [10]:
df2.head()

  Postcode   Latitude  Longitude      Borough   Neighbourhood
0      M1B  43.806686 -79.194353  Scarborough           Rouge
1      M1B  43.806686 -79.194353  Scarborough         Malvern
2      M1C  43.784535 -79.160497  Scarborough  Highland Creek
3      M1C  43.784535 -79.160497  Scarborough      Rouge Hill
4      M1C  43.784535 -79.160497  Scarborough      Port Union